body {
    background-color: #fff0f0;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

h2 {
    color: #cc0000;
}

form input, form button {
    display: block;
    margin: 8px 0;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

form button {
    background-color: #cc0000;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #a30000;
}